@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
:root {
  --background: #0d1117;
  --foreground: #c9d1d9;
  --accent: #19d75d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "dancing script", cursive;
  cursor: default;
}
.app_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0d1117;
  color: var(--foreground);
  gap: 1rem;
}
.app_hero:hover {
  color: var(--accent);
  cursor: pointer;
}
